/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#mainblock {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
}

.well ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.well {
  border-color: green;
}

.well ul li {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 0;
  margin: 3px 3px 0px 0.1px;
  padding: 5px 5px 0px 5px;
  background-color: #CCC;
  border-color: green;
  color: #696969;
  cursor: pointer;
}

#productPlane {
  border: 1px solid green;
  clear: both;
  padding: 0 1em;
}

.well .active {
  background-color: #FFF;
  color: green;
}

.well ul li {
  color: green;
}

#prodView {
  margin: 2% 3% ;
}

.navbar .nav > li {
  display: inline;
}

.navbar .nav > li a{
  color: #00A000;
}

th, td {
  color: green;
}

.label {
  color: green;
  font-size: medium;
  font-weight: normal;
}

input {
  width: 100%;
  /*padding: 1px 1px;*/
  line-height: 20px;
}

.productTable {
  width: 50%;
  margin: 2% 2%;
}

.productTable tr td {
  padding-bottom: 2%;
}
.navbar-default {
  background-color: #CCC;
}
