<div ng-controller="ProductionController as vm" xmlns="http://www.w3.org/1999/html">
    <table class="productTable">
        <tr>
            <td width="20%">
                <label class="label">Product Name: </label>
            </td>
            <td width="50%">
                <input ng-model="productName">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Product Type: </label>
            </td>
            <td>
                <select ng-model="productType">
                    <option ng-repeat="type in vm.productType" value="{{type.value}}">{{type.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Transport Charge: </label>
            </td>
            <td>
                <input ng-model="transportCharge">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Material Rate: </label>
            </td>
            <td>
                <input ng-model="materialRate">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Hours: </label>
            </td>
            <td>
                <input ng-model="hours">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Labour: </label>
            </td>
            <td>
                <input ng-model="labour">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Cavity: </label>
            </td>
            <td>
                <input ng-model="cavity">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Shots: </label>
            </td>
            <td>
                <input ng-model="shots">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Weight: </label>
            </td>
            <td>
                <input ng-model="weight">
            </td>
        </tr>

    </table>
</div>