<div ng-include="'Views/PageTab.html'"></div>

<div class="navbar navbar-product" ng-controller="ProductController as vm">
    <ul class="nav navbar-nav">
        <li ng-class="{active: vm.isActive('viewproducts')}">
            <a ui-sref="viewproducts" ng-click="vm.goTo('home')">View</a>
        </li>
        <li>
            <a ui-sref="createproduct" ng-click="vm.goTo('production')">Create</a>
        </li>
    </ul>
</div>

<div class="prodView" ng-controller="CreateEditProductsController as vm" xmlns="http://www.w3.org/1999/html">
    <table class="productTable">
        <tr>
            <td width="20%">
                <label class="label">Product Name: </label>
            </td>
            <td width="50%">
                <input ng-model="vm.product.productName">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Product Type: </label>
            </td>
            <td>
                <select ng-model="vm.selectedType" ng-options="type.productTypeID as type.productTypeName for type in vm.productType">
                    <!--<option ng-repeat="type in vm.productType" value="{{type.productTypeID}}" selected={{vm.productType[0]}}>{{type.productTypeName}}</option>-->
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Material Rate: </label>
            </td>
            <td>
                <input ng-model="vm.product.materialRate">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Hours: </label>
            </td>
            <td>
                <input ng-model="vm.product.hours">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Labour: </label>
            </td>
            <td>
                <input ng-model="vm.product.labour">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Cavity: </label>
            </td>
            <td>
                <input ng-model="vm.product.cavity">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Shots: </label>
            </td>
            <td>
                <input ng-model="vm.product.shots">
            </td>
        </tr>
        <tr>
            <td>
                <label class="label">Weight: </label>
            </td>
            <td>
                <input ng-model="vm.product.weight">
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn-default" ng-click="vm.SaveProduct(vm.product, vm.selectedType)">Save</button>
            </td>
            <td>
                <button class="btn-default" >Reset</button>
            </td>
        </tr>

    </table>
</div>