<div>
    <img src="../images/logo.png"/>
    <p class="jumbotron">Shree Vinayak Furnishing</p>
</div>
<div class="navbar navbar-default" >
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref="home" ng-click="vm.goTo('home')">Home</a>
        </li>
        <li>
            <a ui-sref="production({activemodule: 'viewproducts'})" ng-click="vm.goTo('production')">Product</a>
        </li>
        <li>
            <a ui-sref="manufacturing" ng-click="vm.goTo('manufacturing')">Manufacturing</a>
        </li>
    </ul>
</div>

<!--
<li ng-class="{active: vm.isActiveTab('home')}">
    <a ui-sref="home" ng-click="vm.goTo('home')">Home</a>
</li>
<li ng-class="{active: vm.isActiveTab('production')}">
    <a ui-sref="production({activemodule: 'viewproducts'})" ng-click="vm.goTo('production')">Product</a>
</li>
<li ng-class="{active: vm.isActiveTab('manufacturing')}">
    <a ui-sref="manufacturing" ng-click="vm.goTo('manufacturing')">Manufacturing</a>
</li>-->
