<div id="prodView" ng-controller="ProductController as vm">
    <input ng-model="productSearch" placeholder="Search the products">
    <br/>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Type</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in vm.products | filter: productSearch">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productType}}</td>
            </tr>
        </tbody>
    </table>

</div>